.name,label,.mail,label {
margin:2%;

}
.name label{
margin-top: 700px;
}

.form{
   text-align: center;
   height: auto;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   padding: 5%;
  
}
.pass input{
 margin-right: 25px;
}
.u input{
      margin: 5px;
      padding: 10px;
}
.x{
   margin-left: 2%;
}
.y{
   margin-right: 4.8px;
}
.divone{
    border: 13px solid rgb(104, 101, 101);
    text-align: center;
    margin: auto;
    width: 500px;
    height: 300px;
    
}

.a{
   background-color: rgb(50, 55, 61);
   color: beige;
   border-radius: 5px;
}
.b{
   background-color: azure;
    border-radius: 5px;
}
